body {
    font-family: 'Open Sans', sans-serif;
}

.header-top {
    height: 50px;
    color: white;
    background-color: #1dd2c8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.telefon {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 700;

    .fa-mobile {
        font-size: 20px;
    }
}

.flags {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 800;
    font-size: 11px;

    #eng {
        padding-left: 10px;
    }
}

.desktop-version {
    display: none;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    /* background-color: red; */
    padding: 0 10px;
}

.fa-bars {
    color: #333;
    font-size: 25px;
    cursor: pointer;
}

.hero1 {
    height: calc(100vh - 120px);
    background: url('../img/banner3.jpg') no-repeat center center/cover;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.hero1 h1 {
    width: 60%;
    font-size: 28px;
    color: #7a7b86;
    font-weight: 800;
}

.hero1 h1 u {
    color: #1dd2c8;
    font-size: 40px;
    font-weight: 800;
}

.hero1 img {
    width: 250px;
}

.hero1 form {
    display: flex;
}

.hero1 form button {
    height: 40px;
    border: none;
    background-color: #1dd2c8;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 0 1px 1px rgba(-255, -255, -255, 0.3);
    cursor: pointer;
}

.read {
    width: 150px;
    text-align: left;
}

.plus {
    width: 50px;
}

.form-hisse {
    background-color: #1dd2c8;
    height: auto;
}

.form-hisse form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input:not([type="radio"]):not([type="submit"]),
form select {
    height: 40px;
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 0 10px;
}

label {
    color: #fff;
    font-weight: 700;
}

select {
    width: 180px;
    color: #1dd2c8;
    font-size: 15px;
}

.selectdate {
    width: 140px;
    color: #1dd2c8;
    font-size: 15px;
}

.selectdate::-webkit-calendar-picker-indicator {
    display: none;
}

.son {
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.makeit {
    height: 40px;
    width: 120px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 2px;
    color: white;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
}

input[type="radio"] {
    transform: scale(1.3);
    background-color: #1dd2c8;
}

input:focus,
select:focus {
    box-shadow: 0 0 10px white;
}

/*basliq hisse basladi*/
.basliq {
    padding: 50px 0;
    text-align: center;
    margin: auto;
}

.basliq h2 {
    font-size: 40px;
    color: #1dd2c8;
}

.basliq img {
    width: 150px;
}

.basliq p {
    font-size: 14px;
    color: #84858B;
}

/*basliq hisse bitdi*/

.card1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-col div {
    margin: auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #1dd2c8;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 70px;
    }
}

.card-col h3 {
    color: #1dd2c8;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.card-col hr {
    width: 50px;
    border: none;
    border: 1px solid #1dd2c8;
}

.card-col p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #84858B;
    font-weight: 400;
}

.forall form {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        height: 40px;
        border: none;
        background-color: #1dd2c8;
        color: white;
        font-size: 20px;
        font-weight: 800;
        text-shadow: 0 1px 1px rgba(-255, -255, -255, 0.3);
        cursor: pointer;
    }
}

.forall {
    margin-top: 30px !important;
    /* istədiyin qədər */
}

.auto {
    margin: auto;
}

/*3lu hisse basladi*/
.uclu-hisse {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    overflow-x: hidden;
}

.lab-schedule {
    background-color: #42b3e5;
}

.check-up {
    background-color: #1dd2c8;
}

.other-clinics {
    background-color: #4baabc;
}

.column1 {
    color: white;
    width: 100%;
    max-width: 100%;
    display: flex;
    padding: 15px 10px;
}

.column1 div img {
    padding-right: 10px;
    border-right: 1px dashed white;
}

.column1 div:first-child {
    display: flex;
    align-items: center;
    /* width: 20%; */
    max-width: 100%;
    height: 80px;
}

.column1 div {
    /* width: 80%; */
    max-width: 100%;

}

.column1 div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-left: 10px;
}

.column1 h3 {
    font-size: 20px;
}

.column1 hr {
    margin-left: 0;
    width: 50px;
    border: none;
    border: 1px solid white;
}

.column1 p {
    font-size: 15px;
}

.column1 a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    border: 1px solid white;
    padding: 8px 5px;
    font-weight: 600;
}

.container {
    width: 100%;
}

.click {
    width: 190px !important;
}

/*3lu hisse bitdi*/

/*latest new basladi*/
.iki-card {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.iki-card form {
    display: flex;
}

.iki-card form button {
    height: 40px;
    border: none;
    background-color: #1dd2c8;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 0 1px 1px rgba(-255, -255, -255, 0.3);
    cursor: pointer;

    .read {
        width: 150px;
        text-align: left;
    }

    .plus {
        border-left: 1px solid red;
        width: 50px;
    }
}

.iki-card h3 {
    color: #1dd2c8;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: -20px;
}

.iki-card small {
    color: #BDBDBD;
    font-size: 13px;
}

.iki-card small {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #84858B;
    font-weight: 400;
}

.card-1,
.card-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*latest new bitdi*/
@media screen and (min-width: 768px) {
    .container {
        width: 80%;
        max-width: 100%;
        margin: auto;
    }

    .hizalama {
        display: flex;
        justify-content: space-between;
    }

    .mobile-version {
        display: none;
    }

    .desktop-version {
        display: flex;
        padding: 0 10px;
    }

    .desktop-version div {
        display: flex;
        align-items: center;
    }

    .desktop-version button {
        border: none;
        height: 35px;
        color: white;
        background-color: #ffffff2a;
        font-size: 15px;
    }

    .fa-magnifying-glass {
        font-size: 20px;
    }

    .type {
        width: 200px;
        text-align: left;
        margin-right: 12px;
    }

    .telefon {
        font-size: 18px;
    }

    header {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    menu {
        display: flex;
        gap: 15px;

        .fa-brands {
            font-size: 20px;
            color: #1dd2c8;
        }
    }

    .fa-facebook-f {
        margin-left: 30px;
    }

    menu li a {
        font-size: 15px;
        font-weight: 400;
    }


    /*hero1 baladi*/

    .hero1 {
        height: calc(100vh - 120px);
        background: url('../img/banner3.jpg') no-repeat center center/cover;
        padding: 0;
    }

    .hero1 div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 110px;
        gap: 30px;
    }

    .hero1 h1 {
        width: 47%;
        font-size: 40px;
        color: #7a7b86;
        font-weight: 800;
    }

    .hero1 h1 u {
        color: #1dd2c8;
        font-size: 50px;
        font-weight: 800;
    }

    .hero1 img {
        width: 400px;
    }

    .hero1 form {
        display: flex;
    }

    .hero1 form button {
        height: 40px;
        border: none;
        background-color: #1dd2c8;
        color: white;
        font-size: 20px;
        font-weight: 800;
        text-shadow: 0 1px 1px rgba(-255, -255, -255, 0.3);
        cursor: pointer;
    }

    .read {
        width: 150px;
        text-align: left;
    }

    .plus {
        border-left: 1px solid red;
        width: 50px;
    }



    /*hero1 bitdi*/

    /*form doldurma basladi*/

    .row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .col {
        flex: 1;
        max-width: 30%;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
    }

    .col2 {
        flex: 1;
        max-width: 30%;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
    }

    .form-input {
        width: 100%;
        padding: 0px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    label {
        padding-bottom: 10px;
    }

    .col2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .form-hisse form {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .xett {
        padding-bottom: 30px;
        border-bottom: 1px solid white;
    }

    .form-hisse {
        margin-top: -50px;
        border-radius: 10px;
    }

    .son2 {
        color: white;
        font-weight: 700;
    }

    /*form doldurma bitdi*/

    .card1 {
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-bottom: 50px;
    }

    .card-col {
        width: 23%;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .forall {
        margin-top: 0px !important;
        /* istədiyin qədər */
    }

    .uclu-hisse {
        display: flex;
        flex-direction: row;
        padding: 50px 0;
    }

    .seksen-faiz {
        width: 80%;
        margin: auto;
    }


    /*latest new basladi*/

    .iki-card {
        width: 100%;
        max-width: fit-content;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .iki-card img {
        width: 100%;
        max-width: 100%;
    }

    .iki-card form {
        display: flex;
    }

    .iki-card form button {
        height: 40px;
        border: none;
        background-color: #1dd2c8;
        color: white;
        font-size: 20px;
        font-weight: 800;
        text-shadow: 0 1px 1px rgba(-255, -255, -255, 0.3);
        cursor: pointer;

        .read {
            width: 150px;
            text-align: left;
        }

        .plus {
            border-left: 1px solid red;
            width: 50px;
        }
    }

    .iki-card h3 {
        color: #1dd2c8;
        font-weight: 400;
        font-size: 30px;
        margin-bottom: -20px;
    }

    .iki-card small {
        color: #BDBDBD;
        font-size: 13px;
    }

    .iki-card small {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #84858B;
        font-weight: 400;
    }

    .card-1,
    .card-2 {
        flex: 1 1 400px;
        /* böyüyə bilər, kiçilə bilər, minimum 400px */
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /*latest new bitdi*/
}



@media screen and (max-width: 1000px) {
    .silinsin {
        display: none !important;
    }

    menu {
        display: flex;
        gap: 10px;
    }

    .container {
        width: 95% !important;
    }

    .seksen-faiz {
        width: 100%;
        margin: auto;
    }

    .iki-card {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 1200px) {
    .col2 {
        flex-wrap: wrap;
    }

    .son2 {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

}